<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Car</title>
</head>
<body>
    <nav>
        <a href="/cars">Dashboard</a>
        <a href="/logout">Logout</a>
    </nav>
    <div>
        <h2>Name: {{recipe.name}}</h2>
        <p>Description: {{recipe.description}}</p>
        <p>Instruction: {{recipe.instruction}}</p>
        <p>Under 30 Minutes?: 
            {% if recipe.under30 == 1 %}
            Yes
            {% else %}
            No 
            {% endif %}
        </p>
        <p>Made on: {{recipe.date_made.strftime('%Y-%m-%d')}}</p>
    </div>
</body>
</html>